/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6cc9ae; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0890ab; 
  }
body
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: block;
}
.header, .head
{
    color: #ffffff;
}
.header
{
    justify-content: center;
    align-items: center;
    display: flex;
    background: #6cc9ae;
    height: 18vh;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 4px 4px 5px #f3f3f3;
}
.head
{
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(#0890ab,#0890ab,#37aba2);
    height: 21vh;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 1.2em;
    line-height: 4vh;
    box-shadow: 0px 9px 6px 0px #232323de;
    text-align: justify;
}
.main
{
    justify-content: center;
    align-items: center;
    display: block;
    padding:3% 18% 5% 18%;
}
#txtOutput, #txtInput
{
    outline: none;
    padding-left: 2%;
    margin-bottom: 3%;
    
    padding-top: 2%;
    resize: none;
}
.span-text
{
    background: #e8e8e8;
    border: 1px;
    text-align: justify;
    padding: 3%;
    margin-bottom: 3%;
    font-size: 1.2em;
    color: #34a9a2;
}
#txtOutput
{
    outline: none;
    padding-left: 2%;
    width:98%;
    border-radius: 4px;
}
#txtInput
{
    width: 96.7%;
    height: 21vh;
    border: 4px solid #0890aba8;
    border-radius: 7px;
    font-size: 1.2em;
    box-shadow: inset 0px 0px 10px 5px #8fc2cc;
}
.timer
{
    font-size: 2.4em;
    font-weight:bold;
    float: left;
    color: #6cc9ae;
    text-shadow: 4px 4px 4px black;
}
.btnStartOver
{
    border: 1px;
    color: #fcfefe;
    background: #6cc9ae;
    font-size: 1em;
    font-weight: bold;
    padding: 1% 4%;
    float: right;
    outline: none;
    height: 7vh;
    box-shadow:0 0 0 #0890ab;
}
.correct
{
    color:white;
    background: #0890ab;
    font-weight:bold;
}
.incorrect
{
    color: #fff;
    background:#f35555a6;
    font-weight:bold;
}
@media (min-width:280px) and (max-width:552px)
{
    .header
    {
        font-size: 1.5em;
    }
    .head
    {
        padding-left: 13%;
        padding-right: 13%;
        font-size: 0.9em;
        height: 24vh;
    }
    .main
    {
        padding: 7% 5% 7% 5%;
    }
    #txtInput 
    {
        width: 94.7%;
    }
    #txtOutput
    {
        height:17vh;
        font-size: 1em;
    }
    .span-text
    {
        margin-bottom: 4%;
    }
    .timer
    {
        font-size: 2em;
    }
}
@media (min-width:560px) and (max-width:780px)
{
    .header
    {
        font-size: 1.5em;
    }
    .head
    {
        padding-left: 13%;
        padding-right: 13%;
        font-size: 1.1em;
        height: 30vh;
        line-height: 6vh;
    }
    .main
    {
        padding: 7% 13% 7% 13%;
    }
    #txtOutput
    {
        height:17vh;
        font-size: 1em;
    }
    .span-text
    {
        margin-bottom: 4%;
    }
    .timer
    {
        font-size: 2em;
    }
}
